//! These colors for future. Do not touch them
// $primary: #3a2e39;
// $secondary: #e0e0e0;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 7% 1fr;
}

#root > div {
  padding: 10px;
}

@import "./partials/variables";
@import "./partials/default";
@import "./partials/notification";
@import "./partials/header";
@import "./partials/welcome";
