.home-page {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 10px;

  @media screen and (max-width: $small) {
    display: flex;
    flex-direction: column;
  }

  aside {
    padding: 20px;

    h3 {
      @include subtitle;
    }

    form {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      button {
        align-self: flex-start;
      }
    }

    @media screen and (max-width: $small) {
      padding: 10px;
    }
  }

  #wishlists {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      @include subtitle;
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .wishlist {
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        width: 200px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        .info {
          h2 {
            @include text-limiter(2);
          }

          p {
            margin-top: 5px;
            @include text-limiter(3);
          }
        }

        .controls {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;

          button {
            min-width: 60px;
          }
        }

        @media screen and (max-width: $small) {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: $small) {
      padding: 10px;
    }
  }
}
