.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 65% !important;

  h1 {
    font-size: $font-4xl;
  }

  form {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  a {
    font-style: italic;
  }

  @media screen and (max-width: $small) {
    height: 100% !important;

    form {
      width: 60%;
    }
  }
}
