header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #name {
    #logo {
      display: none;
    }

    h1 {
      font-family: "Pacifico";
      font-weight: normal;

      &::first-letter {
        color: $primary;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  @media screen and (max-width: $small) {
    padding: 10px 10px 10px 5px;

    #name {
      #logo {
        display: block;
      }

      h1 {
        display: none;
      }
    }

    nav {
      gap: 15px;
    }
  }
}
