header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  @media screen and (max-width: $small) {
    padding: 10px 15px;

    nav {
      gap: 10px;
    }
  }
}
