a {
  text-decoration: none;
  color: $secondary;
  &:visited {
    color: $secondary;
  }
}

.btn {
  padding: 10px;
  font-size: larger;
  transition: all 0.3s ease;
  cursor: pointer;
  &.btn-primary {
    border: 1px solid $primary;
    background-color: $secondary;
    transition-property: background-color color, box-shadow;
    &:hover {
      background-color: $primary;
      color: #ffffff;
    }
  }
  &.btn-secondary {
    border: 1px solid $secondary;
    background-color: #ffffff;
    transition-property: border-color, box-shadow;
    &:hover {
      border-color: $primary;
    }
  }
  &:hover {
    box-shadow: 0 5px 10px 5px $secondary;
  }
  &:focus {
    box-shadow: 0 0 5px 2px $secondary;
  }
}

button.btn-link {
  border: none;
  background: none;
  font-size: 12pt;
  text-decoration: none;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
  &:hover {
    border-bottom: 1px solid $secondary;
  }
  &.btn-primary {
    color: $primary;
  }
  &.btn-secondary {
    color: $secondary;
  }
}
