.btn {
  border: 1px solid $secondary;
  background: none;
  padding: 7px;
  font-size: $font-sm;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
  transition-property: border-color, box-shadow;

  &.btn-primary {
    border-color: $primary-800;

    &:hover {
      @include ring($primary);
    }
  }

  &.btn-secondary {
    &:hover {
      @include ring($secondary);
    }
  }
}
