.font-tiny {
  font-size: $font-tiny;
}
.font-xs {
  font-size: $font-xs;
}
.font-sm {
  font-size: $font-sm;
}
.font-base {
  font-size: $font-base;
}
.font-lg {
  font-size: $font-lg;
}
.font-xl {
  font-size: $font-xl;
}
.font-2xl {
  font-size: $font-2xl;
}
.font-3xl {
  font-size: $font-3xl;
}
.font-4xl {
  font-size: $font-4xl;
}
.font-5xl {
  font-size: $font-5xl;
}
.font-6xl {
  font-size: $font-6xl;
}
.font-7xl {
  font-size: $font-7xl;
}
