.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: $font-lg;
  }
}

input {
  border: 1px solid;
  padding: 5px;
  margin: 3px 0;
  font-size: $font-lg;
  border-radius: 3px;
  transition: all 0.2s ease;
  transition-property: border-color, box-shadow;

  &::placeholder {
    font-style: italic;
    font-size: $font-base;
  }

  &:focus {
    @include ring($primary);
  }
}
