// Colors
$primary: #306fcb;
$primary-200: rgba($primary, 0.2);
$primary-400: rgba($primary, 0.4);
$primary-600: rgba($primary, 0.6);
$primary-800: rgba($primary, 0.8);

$secondary: #cadaf2;
$secondary-200: rgba($secondary, 0.2);
$secondary-400: rgba($secondary, 0.4);
$secondary-600: rgba($secondary, 0.6);
$secondary-800: rgba($secondary, 0.8);

$success: #9fd356;
$error: #b00040;

// Font sizes
$font-tiny: 0.625rem;
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;
$font-3xl: 1.875rem;
$font-4xl: 2.25rem;
$font-5xl: 3rem;
$font-6xl: 4rem;
$font-7xl: 5rem;

// Device sizes
$small: 700px;
$medium: 1000px;
$large: 1400px;
