.signin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;

  form {
    width: 15%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: 13pt;
        font-weight: 600;
      }

      input {
        border: 2px solid;
        background: none;
        padding: 5px;
        width: 100%;
        font-size: 13pt;
        transition: all 0.3s ease;
        transition-property: border-color;

        &:focus {
          border-color: $primary;
        }
      }
    }

    button {
      border: 2px solid rgba(0, 0, 0, 0.6);
      background: none;
      padding: 7px;
      font-size: 13pt;
      letter-spacing: 0.1rem;
      box-shadow: 0 4px 9px 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: all 0.3s ease;
      transition-property: border-color, color, background-color, box-shadow;

      &:hover {
        background-color: $primary;
        border-color: transparent;
        color: #fff;
        box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
      }

      &:active {
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
