*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body,
#__next,
#page {
  height: 100%;
}

@import "./theme/vars";
@import "./mixins/ring";

@import "./theme/button";
@import "./theme/form";
@import "./theme/link";

@import "./components/notification";

@import "./pages/welcome";
@import "./pages/signin";
