*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: grid;
  grid-template-rows: 7% 1fr;
}

@import "./partials/vars";
@import "./partials/defaults";
@import "./partials/notification";
@import "./partials/header";
@import "./partials/signin-page";
